/*================================================================
RESET
================================================================*/

*,
*::after,
*::before {
	box-sizing: border-box;
	word-wrap: break-word;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	color: inherit;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
	list-style-type: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

img {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}

/*================================================================
変数
================================================================*/

/*================================================================
「最小値をSP時の数値」「最大値をPC時の数値」とし、
レスポンシブデザインは「画面幅に応じた数値」とする関数
================================================================*/

/*================================================================
「最小値をSP時の数値」「最大値をPC時の数値」とする関数
================================================================*/

/*================================================================
「最大値をPC時の数値」とする関数
================================================================*/

/*================================================================
「最小値をSP時の数値」とする関数
================================================================*/

/*================================================================
「SP時の数値」「PC時の数値」を合わせた上で、
最大値と最小値を設定せず「画面幅に応じた数値」とする関数
================================================================*/

/*================================================================
メディアクエリ
================================================================*/

/*================================================================
BASE
================================================================*/

body {
	color: #333;
	font-family: "Noto Serif JP", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	position: relative;
}

/*================================================================
PC
================================================================*/

/*================================================================
PC  タブレット
================================================================*/

/*================================================================
PC  スマホ
================================================================*/

/*================================================================
タブレット
================================================================*/

/*================================================================
タブレット  スマホ
================================================================*/

/*================================================================
スマホ
================================================================*/

/*================================================================
スマホ デザインカンプ以下
================================================================*/

.l-inner {
	max-width: 1440px;
	width: 92.3076923077vw;
	margin-inline: auto;
}

.l-page {
	padding-top: 80px;
	padding-bottom: 160px;
}

@media screen and (min-width: 1000px) {

.is-pc-sp {
	display: block;
}

.is-tab {
	display: none;
}

.is-tab-sp {
	display: none;
}

.is-sp {
	display: none;
}

.is-dsp {
	display: none;
}

}

@media screen and (max-width: calc(1000px - 1px)) {

.is-pc {
	display: none;
}

.is-pc-sp {
	display: none;
}

.is-tab {
	display: block;
}

.is-sp {
	display: none;
}

.is-dsp {
	display: none;
}

}

@media screen and (max-width: 767px) {

.is-pc-tab {
	display: none;
}

.is-pc-sp {
	display: block;
}

.is-tab {
	display: none;
}

.is-sp {
	display: block;
}

.l-page {
	padding-top: 60px;
	padding-bottom: 100px;
}

}

@media screen and (max-width: calc(390 - 1px)) {

.is-dsp {
	display: block;
}

}

